body{
    background-color: #363636;
}
.title{
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;;
    
}
.list{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin: 40px;
    
}
.navbar{
    max-width: 1200px;
}
.navbar a{
    color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none;
	font-size: 20px;
    font-family: 'Inter', sans-serif;
}
.navbar a:hover{
    color: rgb(162, 236, 147);
}
.navbar ul {
    list-style: none;
}
.about{
    font-weight: bold;
    font-family: Montserrat,sans-serif;
}
.spot{
    width: 37px;
    height: 37px;
    cursor: pointer;
}
.area{
    width: 100%;
    display: flex;
    justify-content: center;
}
#outputArea{
    width: 500x;
    height: 300px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
}
#phpButton{
    margin-top: 15px;
    padding: 15px;
    background: rgb(106, 219, 106);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    
}
footer {
    margin-top: 50px;
    text-align: center;
    padding: 3px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
footer a{
    color: white;
    font-family: 'Poppins', sans-serif;
    
}
footer a:hover{
    color: rgb(87, 174, 231);
}
@media (max-width: 768px){
    .title{
        font-size: 20px;
}
    .spot{
        width: 35px;
        height: 35px;  
        margin-left: -42px; 
}
    .navbar a{
        font-size: 18px;
}
    .navbar{
        width: auto;
}
    .title{
        font-size: 18px;
}
    .footer a{
        font-size: 1px;
    }
}
